.PostForum {
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}

.PostForum-user {
    font-weight: bold;
}

.PostForum-date {
    float: right;
}

.PostForum-addBtn {
    background-color: #9696EB;
}