.Post {
    border-radius: 3px;
    border: 1px solid #333309;
    background-color: #fff;
    margin-bottom: 60px;
    margin-left: 25%;
    margin-right: 25%;

}
.Post-header {
    position: relative;
    background-color: #FBCA17;
}
.Post-user {
    display: flex;
    padding: 16px;
    align-items: center;
}
.DateLabel {
    font-weight: normal;
    margin-left: 10px;
}
.Post-user-nickname {
    margin-left: 12px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: #333309;
}

.Post-image-bg {
    background-color: #efefef;
}

.Post-image img {
    display: block;
    width: 100%;
}

.Post-description {
    padding: 16px;
    font-family: 'PT Sans', sans-serif;
    background-color: #FEFE2E;
    color: #333309;
}

.Post-isUserTopic {
    position: absolute !important;
    right: 5px;
    top: 5px;
    color: #333309 !important;
}


