.Post {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-bottom: 60px;
  margin-left : 25%;
  margin-right: 25%;
}
.Post-user {
  display: flex;
  padding: 16px;
  align-items: center;
}
.Post-user-nickname {
  margin-left: 12px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
.Post-image-bg {
  background-color: #efefef;
}
.Post-image img {
  display: block;
  width: 100%;
}
.Post-description {
  padding: 16px;
    font-family: 'PT Sans', sans-serif;
}


