.TopicPostComments {
    display: flex;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    padding: 16px;

}

.Button {
    margin-left: 12px;

}
.TopicAddComment{
    display: flex;
    padding: 16px;
    width: 95%;
}

