.TopicPostComments {
    display: flex;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    position: relative;
    padding: 16px;

}

.Button {
    margin-left: 12px;
    position: absolute;
    right: 5px;

}
.TopicAddComment{
    display: flex;
    padding: 16px;
    position: relative;
}

