.TopicPostComments {
    display: flex;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    position: relative;
    padding: 16px;
    color: #333309;
    background-color: #FEFE2E;
}

.Button {
    margin-left: 12px;
    position: absolute;
    right: 5px;
    background-color: #F79502;
    color: #333309;
    border: 1px solid #333309;

}
.newComment {
    width: 70%;
    margin-right: 40px;
    position: relative;

}

.TopicAddComment{
    display: flex;
    padding: 16px;
    position: relative;
    color: #333309;
    background-color: #FEFE2E;
}

