.registration-form {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ant-form-item-label {
    display: inline-block;
    width: 140px;
    text-align: right;
}

.registration-form-button {
    text-align: center;
}

.login-link{
    padding: 10px;
}

.ant-col.ant-form-item-label {
    padding-bottom: 0;
}