.PostComment {
    background-color: #6594EB;
}
.PostComment:nth-child(even) {
    background-color: #7ea7f2;

}

.TopicPostComment {
    display: flex;
    padding: 3px;
    align-items: center;
    margin-left: 12px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.DateLabel {
    font-weight: normal;
    margin-left: 10px;
    color: #000000;
}
.Post-header-dwa {
    position: relative;
    color: #333309;
}

.ContentPostComment {
    display: flex;
    padding: 2px;
    align-items: center;
    margin-left: 12px;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: #333309;


}
.PostComment-isUserComment {
    position: absolute !important;
    right: 5px;
    top: 0px;
    color: #333309 !important;
}